@page
@model HolaWeb.App.Frontend.Pages.ListModel
@{
}

<h1>Usuarios</h1>

<table class="table">
    @foreach (var saludo in Model.ListaSaludos)
        {       
  <tr>
    <th>Id</th>
    <th>TipoUsuario</th>
    <th>TipoPersona</th>
    <th>Cedula</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>Telefono</th>
    <th>Direccion</th>
    <th>Nit</th>
    <th>Admin</th>
    <th>Confirmado</th>
    <th>NumeroRegistro</th>
    <th>Horario</th>
    <th>MetodoPago</th>
    <th>Token</th>

  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
    }
</table>